@page
@model WebApplication2.Pages.leads.Lead_InfoModel
@{
}


<p>Lead Info Page.</p>
<a class='btn btn-primary btn-sm' href='/leads/Create'>New Project</a>
<table class="table">
    <thead>
        <tr>
        <th>ID</th>
        <th>Project Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listProjects)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.ProjectName</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                <td>@item.address</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/leads/Edit?id=@item.id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>



        
